extends layout 

block content 
  div.flex-container
    h1.title= title

    form(action="" method="POST")
      div.form-container
        div.form-element
          label(for="adminPassword")
          input(type="text" required=true placeholder="Admin Password" name="adminPassword")
        button.submit-button(type="submit") Become Admin

    if errors 
      ul.error-list
        each error in errors 
          li= error.msg