doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header.desktop-header
      if currentUser
        div.welcome-message
          span Welcome, #{currentUser.first_name}
          if !currentUser.member_status
            a(href="/users/member").member-link Become a Member
      span.logo
        a(href="/")#home-link Odin Clubhouse
      div.nav-links
        if currentUser 
          a.header-link(href="/messages/create") Create Message
          a.header-link(href="/users/log-out") Log Out
        else 
          a.header-link(href="/users/sign-up") Sign up
          a.header-link(href="/users/log-in") Log in
    header.mobile-header
      div.dropdown
        button.dropbtn Odin Clubhouse
        div.dropdown-content
          if currentUser 
            span.mobile-welcome Welcome, #{currentUser.first_name}
            hr
            if !currentUser.member_status
              a(href="/users/member").header-link Become a member
            a.header-link(href="/messages/create") Create Message
            a.header-link(href="/users/log-out") Log Out
          else 
            a.header-link(href="/users/sign-up") Sign up
            a.header-link(href="/users/log-in") Log in
          a.header-link(href="/") Home
    script(src="/javascripts/main.js")


    block content
