* {
  padding: 0;
  margin: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  height: 80px;
  width: 100%;
  margin-bottom: 100px;
  background-color: darkslateblue;
}

.nav-links {
  position: absolute;
  right: 0;
  padding: 0 30px;
}

.header-link {
  padding: 10px 15px;
  font-size: 18px;
}

.logo {
  font-size: 40px;
}

#home-link {
  color: white;
  font-weight: 700;
}

.welcome-message {
  position: absolute;
  left: 0;
  padding: 30px;
  font-size: 20px;
  color: white;
}

.member-link {
  padding-left: 30px;
}

.title {
  margin-bottom: 25px;
}

form {
  width: 25%;
  border: 2px rgb(0, 0, 143) solid;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-element {
  padding: 20px;
}

.form-input {
  font-size: 17px;
  padding: 5px;
}

.submit-button {
  margin-bottom: 20px;
  font-size: 20px;
}

.error-list {
  margin-top: 40px;
}

/* Message styling */
.message-container {
  width: 40%;
  padding: 40px;
  border: 1px solid rgb(0, 0, 143);
  margin-bottom: 30px;
}

.message-top {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.message-title {
  font-size: 22px;
  font-weight: 700;
}

hr {
  margin: 10px 0;
}

.message-bottom {
  display: flex;
  justify-content: space-between;
}

.delete-button {
  margin: 20px 0;
  padding: 5px 7px;
  color: white;
  font-size: 20px;
  background-color: crimson;
}

/* Mobile */

.mobile-header {
  display: none;
}

.mobile-welcome {
  font-size: 20px;
  color: white;
  text-align: center;
}

.dropdown {
  width: fit-content;
}

.dropbtn {
  font-size: 25px;
  border: none;
  background-color: darkslateblue;
  color: white;
  text-decoration: white underline;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: darkslateblue;
  z-index: 1;
}

/* Media queries */
@media only screen and (max-width: 992px) {
  form {
    width: fit-content;
  }

  .desktop-header {
    display: none;
  }

  .mobile-header {
    display: flex;
    justify-content: left;
  }

  .clicked {
    display: flex;
    flex-direction: column;
    width: 25%;
  }
}
